# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# folders
build-MeshVisualizer-Desktop-Debug/
build-MeshVisualizer-Desktop-Profile/
build-MeshVisualizer-Desktop-Release/


# other files
.vscode/c_cpp_properties.json
MeshVisualizer/fileClip.sh
program
